.root{
    -fx-background-color: rgba(50,50,50,0.3);
}
.text-field{
    -fx-background-color: rgba(255,255,255,0.65);
}
.dialog-pane:header .header-panel {
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-font-color: gray;
    -fx-background-color: darkgray;
}
.button{
-fx-background-color:
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
.button:hover{
-fx-background-color:
        #c3c4c4,
        linear-gradient(#d6d6d6 0%, gray 20%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
}
.button:pressed{
-fx-background-color:
        #c3c4c4,
        linear-gradient(gray 0%, darkgray 20%, gray 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
}