.button{
-fx-background-color:
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
    }

.button:hover{
-fx-background-color:
        #000000,
        linear-gradient(#1A2B37, #131A37),
        linear-gradient(#151B37, #151B37),
        linear-gradient(#141937, #161C37);
}
.button:pressed{
-fx-background-color:
        #000000,
        linear-gradient(#141E28, #101328),
        linear-gradient(#121428, #111428),
        linear-gradient(#111428, #131428);
}