.button {
    -fx-opacity: 0.8;
    -fx-border-color: green;
    -fx-border-width: 1px;
    -fx-background-color: darkgreen;
}
.button:hover {
    -fx-opacity: 1.0;
    -fx-background-color: #12370E;
}
.button:pressed {
    -fx-opacity: 1.0;
    -fx-background-color: #042F01;
}
.button:disabled {
    -fx-opacity: 0.9;
    -fx-border-color: darkgray;
    -fx-border-width: 1px;
    -fx-background-color: gray;
}